@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

html {
  height: 100%;
}

body {
  margin: 0;
  background: radial-gradient(#ccc, #54958A, #2C3A4E);
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  overflow: hidden;
}

#perspective {
  position: absolute;
  left:50vw; top:50vh;
  width: 50vh;
  height: 50vh;
  margin-left: -25vh;
  margin-top: -25vh;
}

#pane {
  width:100%; height:100%;
  transform-style: preserve-3d;
  transform: rotateX(-45deg);
}


.cube {
  float: left;
  position: relative;
  top: 0;
  transform-style: preserve-3d;
  transform: rotateY(90deg);
  animation: spin 10s linear infinite;
  animation-delay: 0s;
  width: 50vh;
  height: 50vh;
}

.cube .face {
  position: absolute;
  width:100%; height:100%;
  background: #2C3A4E;
  box-shadow: inset 0 0 1px #54958A, inset 0 0 20px #465468;
  text-align: center;
  line-height: 0;
}

.face.back {
  transform: rotateY(180deg) translateZ(25vh);
}
.face.right {
  transform: rotateY(90deg)  translateZ(25vh);
}
.face.left {
  transform: rotateY(-90deg) translateZ(25vh);
}
.face.top {
  transform: rotateX(90deg) translateZ(25vh);
}
.face.front {
  transform: translateZ(25vh);
}
