{
  "host": "http://localhost:5000",
  "key": "octoprintkey",
  "powerButtons": [
     {
       "apiId": 2,
       "icon": "LightBulbIcon"
     },
     {
       "apiId": 3,
       "icon": "FanIcon"
     },
     { 
       "apiId": 1,
       "icon": "PrinterIcon"
     }
  ],
  "temperatureControls": [
    {
      "key": "tool0",
      "name": "Hotend",
      "icon": "BedIcon"
    },
    {
      "key": "bed",
      "name": "Bed",
      "icon": "BedIcon"
    }
  ],
  "cubeSpin": true
}