html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background: radial-gradient(#ccc, #54958A, #2C3A4E);
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}
  
* {
  user-select: none;
  color: rgba(24,38,58);
  font-weight: bold;
}

.side-bar {
  z-index: 10;
  display: inline-block;
}

.side-bar .button {
  width: 25vh;
  height: 25vh;
  box-shadow: inset 0 0 1px #54958A, inset 0 0 20px #465468;
  background: rgba(44,58,78,0.7);
}

.side-bar .button.on {
  background: rgba(88,116,156,0.7);
}

.side-bar .button svg {
  fill: rgba(24,38,58);
  padding: 10%;
  width: 80%;
  height: 80%;
}

.side-bar .button svg .line {
  stroke: rgba(24,38,58);
  fill: none;
  stroke-width:4;
  stroke-linejoin:round;
  stroke-linecap:round;
  stroke-miterlimit:10; 
}